@media  screen and (max-width:953px) {
    /* body{
         background-color: rgb(240, 45, 45);
     } */
     .navbar{
         flex-direction: column;
     }
     .logo{
        position: relative;
        left: 390px;
        top:7px;
     }
     .navcontainer{
         margin-left: 310px;
     }
     .search{
         margin-left: 107px;
     }
     .card-item{
         flex-wrap:wrap;
     }
    }