.flex-all-center{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-1{
    padding-bottom: 15px;
     /* padding-right: 50px; */
}
.my-2{
    padding-bottom: 8px;
}
.imgpad{
    /* margin-right: 5000px; */
    margin: auto;
}
.itemslink{
    color: rgb(5, 46, 230);
}
h3{
    text-align: start;
}
.cricketimage:hover{
    height: 150px;
    width: 120px;
}
.TextHead{
    font-size: 23px;
position: relative;
top: -29px;
left: -100px;
font-weight: bolder;
color: cadetblue;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: 226px;
}
.Cricketbat {
    position: relative;
    top: -18px;
  }
  .Cricketbat:hover{
    height: 150px;
      width: 120px;
  }
  .intro{
    position: relative;
    top: -11px;
    right: -23px;
  
  }
  .Groceries{
    font-size: 23px;
position: relative;
top: -29px;
left: -100px;
font-weight: bolder;
color: cadetblue;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: 244px;
  }
  .Almond{
    position: relative;
    top: -12px;
}
.introg{
    position: relative;
    top: -14px;
    right: -22px;
}
